@import 'assets/sass/button';
@import 'assets/sass/form';
@import 'assets/sass/card';
@import 'assets/sass/base/_variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  background-color: white;
  text-align: center;
}
p,
h2,
h1,
h3,
h4,
h5,
h6 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: $black_29;
}
.App-logo {
  height: 40vmin;
}

.App-container {
  background-color: #d4d4d4;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .App-container {
    width: 100%;
  }
}
.App-link {
  color: #09d3ac;
}
.cardParagraph {
  word-wrap: break-word;
}

#pannier::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#pannier::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#pannier::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000000;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
