.buttonC {
  border-radius: 4px;
  background-color: #2979d0;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: "85%";
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  float: left;
}

.buttonC span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonC span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonC:hover span {
  padding-right: 25px;
}

.buttonC:hover span:after {
  opacity: 1;
  right: 0;
}
