@import 'assets/sass/base/_variables';

.pcard,
.card {
  cursor: pointer;
  transition: all 0.28s ease-out;
  overflow: hidden;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  min-width: 100px;
  cursor: pointer;
  transition: all 0.28s ease-out;
}
.card {
  margin: 20px;
  height: 180px;
}
.pcard {
  margin: auto 4px 4px auto;
  height: 60px;
}
.card:hover {
  transform: scale(1.03);
}
.pcard:hover {
  transform: scale(0.9);
}
.pimageCard,
.imageCard {
  border-radius: 0px 40px 40px 0px / 180px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.imageCard {
  height: 180px;
  width: 240px;
}
.pimageCard {
  height: 60px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .imageCard {
    height: 180px;
    width: 120px;
  }
}
.card-container {
  flex-direction: 'column';
  padding-left: 15px;
}
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.price-style {
  columns: $gris_86;
  font-size: 12px;
}
.card-paragraph {
  text-align: left;
  color: $gris_86;
  font-size: 14px;
}
